<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Robert Nelson Construction | Home </title>
<link rel="stylesheet" href="css/styles.css" >
<link href="slick/slick.css" rel="stylesheet">
<link href="slick/slick-theme.css" rel="stylesheet">
    
    
<!-- TELLS PHONES NOT TO LIE ABOUT THEIR WIDTH & stops the font from enlarging when a phone is turned sideways-->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
	
</head>

<body>

	
<!-- HEADER STARTS HERE -->
<div id="headerWrapper">
	<header class="clearfix">
		<figure class="logo">
        <img src="images/logo1x.png" alt="logo" 
             srcset="images/logo1x.png 1x, images/logo2x.png 2x, images/logo3x.png 3x">
        </figure>
        <div class="telephone">
            <a href="tel:801-555-1234">
                <i class="fas fa-phone-square"></i>
                <span>801-555-1234</span></a>
        </div><!-- end phone -->
    </header>
</div>
	
    
<!-- NAV STARTS HERE -->
<div id="navWrapper">
	<nav class="clearfix">
  		<button id="hamburgerBtn"></button>
            <ul id="primaryNav">
                <li><a href="#">Home</a></li>
                <li class="current-menu-item"><a href="#">Plans</a></li>
                <li class="menu-item-has-children"><a href="#">Models</a>
                    <ul>
                    <li><a href="#">Model 1</a></li>
                    <li><a href="#">Model 2</a></li>
                    <li><a href="#">Model 3</a></li>
                    </ul>
                </li>
            </ul>
        
		<div id="search">
		<form method="get" action="">
			<input class="sfield" type="search" name="s" placeholder="search...">
			<input class="sbtn" type="submit" value="">
			</form>
	</div>
	</nav>
</div>

<!-- MAIN STARTS HERE -->
<main class="clearfix">

    
    <div class="my_slider">
 <div>
	 <picture>
		<source srcset="sliders/slider01v.jpg" media="(max-width: 29.24rem)">
		<source srcset="sliders/slider01h.jpg" media="(min-width: 29.25rem)">
		<img src="sliders/slider01h.jpg" alt="slider">
	</picture>
</div>
 

<div>
	 <picture>
		<source srcset="sliders/slider02v.jpg" media="(max-width: 29.24rem)">
		<source srcset="sliders/slider02h.jpg" media="(min-width: 29.25rem)">
		<img src="sliders/slider02h.jpg" alt="slider">
	</picture>
</div>
 
 <div>
	 <picture>
		<source srcset="sliders/slider03v.jpg" media="(max-width: 29.24rem)">
		<source srcset="sliders/slider03h.jpg" media="(min-width: 29.25rem)">
		<img src="sliders/slider03h.jpg" alt="slider">
	</picture>
</div>
</div> <!-- end of slider -->
    
<div class="row">
			<div class="column small-12">    
<h1>Page Title</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque placerat tortor quis lectus posuere, eu ultrices velit fringilla. Fusce in rhoncus nulla, quis lacinia ipsum. Phasellus viverra mauris id facilisis hendrerit. Phasellus eget sollicitudin neque. Etiam id quam sed quam aliquam imperdiet id convallis massa. Suspendisse nisl purus, dapibus in mauris vel, eleifend placerat ligula. Nam eget felis nulla. Nullam tempus felis sem, ac gravida nulla bibendum finibus.</p>

    <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec cursus pharetra urna, sit amet maximus nibh. Proin in leo eu nisl feugiat iaculis eu nec massa. Aliquam interdum, lacus vel maximus semper, magna massa ornare urna, aliquam sodales ligula elit eu massa. Quisque arcu nulla, sagittis ac ultrices a, laoreet sed mauris. Proin tincidunt turpis sed est tristique, sit amet molestie purus interdum. Nulla placerat commodo mi, eget venenatis elit laoreet vitae. Mauris luctus elit hendrerit, dictum nisi et, scelerisque enim. Nunc vel dui sagittis, venenatis turpis at, ullamcorper urna. Etiam consectetur, sem vel egestas consectetur, libero nulla ultrices nibh, quis cursus purus mauris sed lectus.</p>
</div> <!-- end column -->	
	</div> <!-- end row -->
</main>

<!-- FOOTER STARTS HERE -->  
<div id="footerWrapper" >
	<footer class="clearfix">
		
		<div class="row">
			<div class="column small-12">
				<p class="legal">&copy;2018 &bull; Robert Nelson Construction &bull; <a href="/wp-admin" target="_blank">Login</a>
			</div> <!-- end column -->
		</div> <!-- end row -->
		
		<div class="row">
			<div class="column small-12 medium-6 large-4">
			<h2>Address:</h2>
				
				<address> <a href="https://goo.gl/maps/RmF9Je46ZpG2" target="_blank">
				Robert Nelson Construction<br>
                405 W. State Rd 198<br>
				Salem, UT 84653
				</a></address>
				
			
			</div> <!-- end column -->
		
			<div class="column small-12 medium-6 large-4">
				<h2>Phone:</h2>
				<p><a href="tel:8015551234">(801) 555-1234</a></p>
			</div><!-- end column -->
			
			<div class="column small-12 medium-6 large-4">
			<h2>Mission:</h2>
				<p>There are builders and then there are a few "Master Builders". Please come by for a great experience building your custom home.</p>
			
			</div> <!-- end column -->
			
		</div> <!-- end row -->
		
		
</footer>
<div class="socialIcons">
    <a href="http://www.facebook.com/pages/Robert-Nelson-Custom-Homes/138512722847160"><i class="fab fa-facebook-f"></i></a>
    
    <a href="http://nextadagency.com/software/business_review.php?DW8BYwgyVmdTOgdvUzNSYFo2"><i class="fas fa-pencil-alt"></i></a>
    
    <a href="https://plus.google.com/+RobertnelsonconstructionSalemUT"><i class="fab fa-google-plus-g"></i></a>
    
    
    <a href="#"><i class="fab fa-youtube"></i></a>
    
    
</div> <!-- end social -->
	
    
<div class="associations">   
<div><a href="http://www.nahb.com/" target="_blank"><img src="images/icon_nahb.jpg"></a></div>

<div><a href="http://www.utahhba.com/" target="_blank"><img src="images/icon_hba.jpg"></a></div>
    
<div><a href="http://www.uvhba.com/" target="_blank"><img src="images/icon_uvhba.jpg"></a></div>  
     
<div><a href="http://www.cbusa.us/" target="_blank"><img src="images/icon_cbusa.jpg"></a></div>
    
<div><a href="http://www.energystar.gov/" target="_blank"><img src="images/icon_energy.jpg"></a></div>
</div> <!--end connections -->
    
    
    
</div> <!-- end footer wrapper-->
    

<!-- Hamburger Button Script -->
<script src="js/scripts.js"></script>
  
<!-- Load jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<!-- Load Slider -->
<script type="text/javascript" src="slick/slick.min.js"></script>
<script>
$(document).ready(function(){
  $('.my_slider').slick({
	lazyLoad: 'progressive',
	dots: true,
	arrows: false,
	infinite: true,
	speed: 1000,
	cssEase: 'ease-out',
	autoplay: true,
	autoplaySpeed: 30000
  });
});
</script><!-- End Slider -->
    
    
    
    
    

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "LocalBusiness",
  "name": "Robert Nelson Construction",
  "description": "Your best source for high quality custom home construction.",
  "openingHours": "Mo-Fr 09:00-16:00",
  "telephone": "+8014231141",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "405 W. State Rd 198",
    "addressLocality": "Salem",
    "addressRegion": "UT"
  },
  "image": "http://fullpath.com/logo1x.png",
  "priceRange":"Please Call"
}
</script>

</body>
</html>