$primaryColor: #3E606F; 
$secondaryColor: #193441;
$thirdColor: #FCFFF5;
$accent: #91AAB4;


$back: $primaryColor;

$menuColor: #193441;

$titleFont: 'Rajdhani', sans-serif;
$defaultFont: 'Open Sans', sans-serif;
$font: #333A42;

$lightWeight: 300;
$normalWeight: 400;
$boldWeight: 600;

$gutter: 2%;

$maxW: 1200px;