div.news-content {
    padding: .5rem $gutter 0 $gutter;
    display: flex;

    .date-post {
        background-color: #E1E1DF;
        height: 50%;
        margin-right: 1rem;
        h2 {
            padding: 1rem 1rem 0 1rem;
            text-align: center;
            span {text-align: center;
            }
        }
        p {
            // padding: 0 1rem 1rem 1rem;
        }
    }
    .post-content-text {
        h3 {
            font-size: 20px;
            color: $font;
            a {
                text-decoration: none;
            }
        }
        .news-content-excerpt {
            .news-short-content {}
            a {
                background-color: $font;
                padding: .45rem 1rem;
                color: #fff;
            }
        }
        
    }
}