$primaryColor: #002977; // blue
$secondaryColor:#6c1121; // magenta
$textColor:	#555555; // grey
$footerColor: #d7d8db; // grey

$menuColor: $primaryColor;
$activeColor: #ffcd34; // orange

$defaultFont: 'Open Sans', sans-serif;
$lightWeight: 300;
$normalWeight: 400;
$heavyWeight: 700;

$gutter: 2%;