main{
  max-width: 1024px;
  margin: 0 auto;
}

.info {
  display: flex;
  flex-direction: row;

.contact, .newsletter, .why {
  width: 33%;
  margin: 0 $gutter;
}
.subscribe{
  display: flex;
  flex-direction: column;
  input{
    height: 30px;
  }
  button{
    height: 40px;
    border-radius: 20px;
    margin: .2rem 0;
  }
}



}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}