// HEADER
.headwrap{
header {
	margin: 0 auto;
}
}



	
	
	
	
	
// }/*end navigation*/



.articles {
    grid-template-columns: 1fr 1fr 1fr;
}
.footer {
    footer {
       .info {
           grid-template-columns: 1fr 1fr;

           grid-template-areas: 
            "contact newsletter"
            "why why";
        //   flex-direction: row;
        //   justify-content: space-between;
      }
    }
  }


.copyright {
  
    .social {
      // display: flex;
      // flex-direction: row;
      // justify-content: space-around;
      // margin: .5rem 0;
      grid-template-columns: auto auto auto auto;
      grid-row-gap: 50px;
    }
  
  
  }