// HEADER
.headwrap{
header {
	margin: 0 auto;
}
}

/* ----------NAVigation-----------  */
nav {
    // position: relative;
    // top: 0;
	ul.closed {display:block;}
	button {display: none;}
	
	ul {
		margin-left: 2%;
		display: flex;
		flex-direction: row;
	}
	
	ul li{float: left;}
	
	ul li a {
		border: none;
		border-right: 1px solid rgba(0,0,0,0.2);
		padding: .7rem .9rem;
		transition: background 0.3s linear;
		-webkit-transition: background 0.3s linear;
	}
	
	ul li a span {display: none;}
	ul li a:hover{background-color: darken($menuColor, 10%);}
	
	ul li ul {
		left: -999em;
		z-index: 99;
		background-color: lighten($menuColor, 10%);
		position: absolute;
		width: 10rem;
	}
	
	ul li:hover ul {
		left:auto;
	}
	
	ul li ul li {
		float: none;
		border-bottom: 1px solid rgba(0,0,0,0.2);
	}
	
	
	
	
	
	
}/*end navigation*/



.articles {
    grid-template-columns: 1fr 1fr 1fr;
}
.footer {
    footer {
       .info {
           grid-template-columns: 1fr 1fr;

           grid-template-areas: 
            "contact newsletter"
            "why why";
        //   flex-direction: row;
        //   justify-content: space-between;
      }
    }
  }


.copyright {
  
    .social {
      // display: flex;
      // flex-direction: row;
      // justify-content: space-around;
      // margin: .5rem 0;
      grid-template-columns: auto auto auto auto;
      grid-row-gap: 50px;
    }
  
  
  }