.navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $thirdColor;

    nav.medPlus {
        max-width: 1024px;
        padding: .25rem 0;
        background-color: $thirdColor;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        ul{
          display: flex;
          flex-direction: row;
          background-color: $thirdColor;
      
          a {
            text-decoration: none;
            color: #000000;
            margin: 0 .4rem;
          }
      
        }

        .searchBar {
            display: flex;
            flex-direction: row;
            align-items: stretch;

            input {
                border: solid #666 1px;
                width: 100%;
              }
            button {
                background-color: $primaryColor;
                color: $thirdColor;
            }
        }
      }
}

.myNav {
    display: none;
}

.articles {
    grid-template-columns: auto auto auto;
}

.info {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: 
      "contact newsletter"
      "why";

}

.copyright {
  
    .social {
      // display: flex;
      // flex-direction: row;
      // justify-content: space-around;
      // margin: .5rem 0;
      grid-template-columns: auto auto auto auto;
      grid-row-gap: 50px;
    }
  
  
  }