body{
  background-color: #ffffff;
}

.headwrap {
  background-color:$primaryColor;
}

header {
  max-width: 1024px;
  margin: 0 auto;
  padding: .5rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  img {
    border-radius: 8px;
  }

  a {
    text-decoration: none;
    color: #ffffff;
  }



}

.navigation {
  background-color: $secondaryColor;
}
nav {
  max-width: 1024px;
  margin: 0 auto;
  padding: .75rem 0;
  ul{
    display: flex;
    flex-direction: row;

    a {
      text-decoration: none;
      color: #000000;
      margin: 0 .4rem;
    }

  }
}


.slider{
  width: 100%;
  height: 300px;
  background-color: rgb(255, 131, 131);
}
h2#blog {
  margin: 2rem 0 .25rem 0;
}
.articles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 3rem;

  .art1, .art2, .art3, .art4{
    width: 25%;
    height: 200px;
    background-color: pink;
    margin: 0 1rem;
    
    p {
      color: red;
    }
  }
}

.footer {
  background-color: $secondaryColor;

  footer {
    max-width: 1024px;
    margin: 0 auto;

    .info {
      padding: 1rem 0;

      h2{
        margin-bottom: .75rem;
      }
      input {
        margin-top: .6rem;
      }
    }


  }
}

.copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $primaryColor;
  padding: 1rem 0;

  .social {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: .5rem 0;
    i{
    color: #ffffff;
    margin: 0 1rem;
    }
  }
  p {
    color: #ffffff;
  }


}







ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}
