body{
  background-color: #ffffff;
  h2 {
    font-family: $titleFont;
  }
  p {
    font-family: $defaultFont;
  }
}

.headwrap {
  background-color:$primaryColor;
}

header {
  max-width: 1024px;
  margin: 0 auto;
  padding: .5rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

  img {
    border-radius: 8px;
    max-height: 60px;
    max-width: 60px;
    margin: .25rem;
  }

  a {
    text-decoration: none;
    color: #ffffff;
  }



}



/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  
  /* The navigation menu links */
  a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    h2 {
      text-align: center;
    }
  }
  /* When you mouse over the navigation links, change their color */
  a:hover {
  color: #f1f1f1;
}

  /* Position and style the close button (top right corner) */
  .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
}








/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px; background-color: $menuColor;}
  .sidenav a {font-size: 18px;}
}

.sidenav{
  background-color: $menuColor; 
  
  a {

    h2 {
      color: $thirdColor;
    }
  }
  .myAgents {
    
    h2 {
      padding-left: 1.5rem;
      color: darken($thirdColor, 25%);
    }
  }
}



.myNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $thirdColor;

  .search {
    display: flex;
    flex-direction: row;
    input {
      border: solid #666 1px;
      height: 44px;
      width: 100%;
    }
    button {
      background-color: $primaryColor;
      color: $thirdColor;
  }
  }

  #menuBar {
    color: $primaryColor;
    margin: .3rem 0 .15rem .3rem;
  }

}
.navigation {
  // background-color: $secondaryColor;
  display: none;
}


.mySlider {

  picture {
    width: 100%;

    img {
      width: 100%;
    }
  }
  .slick-dots {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #fff;
  }
}

.slider{
  width: 100%;
  height: 300px;
  background-color: rgb(255, 131, 131);
}
h2#blog {
  margin: 2rem 0 .25rem $gutter;
}
.articles {
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  // margin-bottom: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: $gutter;

  .art1, .art2, .art3, .art4 {
    // width: 100%;
    height: 250px;
    background-color: #666;
    margin: 1rem $gutter;
    
    p {
      color: #fff;
    }
  }
}

.footer {
  background-color: $secondaryColor;

  footer {
    max-width: 1024px;
    margin: 0 $gutter;
    padding: 1rem 0;
    color: $thirdColor;
   

    .info {
      margin: 0 auto;
      color: $thirdColor;

      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;

      grid-template-areas: 
        "contact"
        "newsletter"
        "why";

      // display: flex;
      // flex-direction: column;




      .contact, .newsletter, .why {
        padding: .5rem 0;
      }

      .contact {
        grid-area: contact;
      }

      .newsletter {
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        grid-area: newsletter;


        .subscribe {
          display: flex;
          flex-direction: column;
          justify-content: center;
  
          input{
            height: 35px;
            margin-bottom: .2rem;
          }
  
          button {
            height: 44px;
            background-color: #666;
            border-radius: 10px;
            color: #fff;
          }
        }
      }

      .why {
        grid-area: why;
      }

      

      h2{
        margin-bottom: .75rem;
      }
      input {
        margin-top: .6rem;
      }
    }


  }
}

.copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $primaryColor;
  padding: 1rem 0;

  .social {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: .5rem 0;
    i{
    color: #ffffff;
    margin: 0 1rem;
    }
  }
  p {
    color: #ffffff;
    margin: 1rem 0;
  }


}







ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}
