$primaryColor: #364C71; 
$secondaryColor:#82AAB4;
$thirdColor: #FFF4E2;
$accent: #65C4C6;


$back: $primaryColor;

$menuColor: #232D56;

$titleFont: 'Rajdhani', sans-serif;
$defaultFont: 'Open Sans', sans-serif;
$font: #333A42;

$lightWeight: 300;
$normalWeight: 400;
$boldWeight: 700;
$medWeight: 500;

$gutter: 2%;