$primaryColor: #69AFBF; 
$secondaryColor: #8FA6A3;
$thirdColor: #EBF2F0;
$accent: #BF4949;


$back: $primaryColor;

$menuColor: #232D56;

$titleFont: 'Rajdhani', sans-serif;
$defaultFont: 'Open Sans', sans-serif;
$font: #333A42;

$lightWeight: 300;
$normalWeight: 400;
$boldWeight: 700;
$medWeight: 500;

$gutter: 2%;

$maxW: 1200px;